<a class="navbar-brand" href="/portfolio/index.html">Portfolio</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/portfolio/index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio/programming.html">Programming <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio/art.html">Art</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/portfolio/travel.html">Experience / Travel </a>
        </li>
    </ul>
</div>